$baseurl: "http://localhost:4000/images/";

@import 'libs/functions';
@import 'libs/mixins';

@import 'libs/bootstrap4/bootstrap';
@import 'font-awesome.min.css';

@import 'layout/basic';
@import 'layout/section-article';

@import 'components/components';

@import 'layout/main';
@import 'layout/footer';

@import 'pages/landing';