---
layout: compress
---
<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
  </head>

  <body>
    <span class="main-bg"></span>
    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

      <main id="main" class="main container">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-right"><div class="right-wrapper">{% include fixedCard.html %}</div></div>
      </main>

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>